body {
    background-color: lightgreen;
    color: black;
}

li {
    display: inline;
}

a:visited {
    color: #ED91BF;
}

a:link {
    color: #A14271;
}

h1 {
    background-color: forestgreen;
}

nav {
    background-color: white;
}

div.relative {
    left: 30px;
    right: 500px;
}